@import "../tools/mixins";
@import "../tools/breakpoints";

.btn{
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  border: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.btn-bordered{
  max-width: 317px;
  width: 100%;
  height: 58px;
  border: 2px solid var(--col-white);
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 56px;
  color: var(--col-white);
  transition: all 0.3s;
  @media (max-width: $breakpoint-sm){
    max-width: 255px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
  &:hover{
    background: var(--col-white);
    color: var(--col-brown);
  }
  &.--red{
    border: 2px solid var(--col-red);
    color: var(--col-red);
    &:hover{
      background: var(--col-red);
      color: #fff;
    }
  }
  &.--brown{
    border: 2px solid var(--col-brown);
    color: var(--col-brown);
    &:hover{
      background: var(--col-brown);
      color: #fff;
    }
  }
}

.btn-primary{
  max-width: 317px;
  width: 100%;
  height: 58px;
  border-radius: 3px;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s;
  @media (max-width: $breakpoint-sm){
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
  &.--type-1{
    border: 1px solid var(--col-brown);
    background: var(--col-brown);
    color: var(--col-white);
    &:hover{
      background-color: transparent;
      color: var(--col-brown);
    }
  }
}

