@import "../tools/mixins";
@import "../tools/breakpoints";

.cart-background{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 991;
  background-color: rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
  &.active{
    display: block;
  }
}

.cart{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 630px;
  z-index: 999;
  transform: translateX(100%);
  background: var(--col-light-yellow);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  padding-bottom: 98px;
  @media (max-width: $breakpoint-md){
    width: 100%;
    left: 0;
  }
  @media (max-width: $breakpoint-sm){
    padding-bottom: 75px;
  }
  &.active{
    transform: translateX(0);
  }
}

.cart-top{
  position: relative;
  height: 98px;
  background-color: #E4D2BB;
  @media (max-width: $breakpoint-sm){
    height: 75px;
  }
  &__title{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    @media (max-width: $breakpoint-lg){
      font-size: 25px;
      line-height: 30px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 18px;
      line-height: 25px;
      left: 15px;
    }
  }
  &__close{
    position: absolute;
    right: 30px;
    transition: all 0.3s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    cursor: pointer;
    font-size: 24px;
    &:hover{
      transform: translateY(-50%) rotate(180deg);
    }
    @media (max-width: $breakpoint-sm){
      font-size: 18px;
      right: 15px;
    }
  }
}

.cart-content{
  position: absolute;
  left: 0;
  right: -17px;
  padding-right: 17px;
  overflow: auto;
  height: calc(100vh - 98px - 98px);
  @media (max-width: $breakpoint-sm){
    height: calc(100vh - 75px - 75px);
  }
}

.cart-product{
  position: relative;
  padding: 30px 30px 20px;
  border-bottom: 1px solid #E4D2BB;
  @media (max-width: $breakpoint-sm){
    padding: 20px 15px;
  }
  &__image-column{
    @include grid-size(180px);
    @media (max-width: $breakpoint-sm){
      @include grid-size(100%);
    }
    img{
      display: block;
      width: 100%;
      height: 125px;
      @include object-fit;
      @media (max-width: $breakpoint-sm){
         width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  &__content-column{
    @include grid-size(calc(100% - 180px));
    @media (max-width: $breakpoint-sm){
      @include grid-size(100%);
    }
  }
  &__name{
    display: block;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }
  &__txt{
    @include text-ellipsis(3);
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-lg){
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  &__price{
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
  }
  &__remove{
    display: block;
    padding-left: 22px;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: var(--col-red);
    i{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      display: block;
      transition: all 0.3s ease-in-out;
    }
    &:hover{
      i{
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}

.cart-bottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 98px;
  @media (max-width: $breakpoint-sm){
    height: 75px;
  }
  &__price{
    display: block;
    @include grid-size(26%);
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 31px 0;
    color: var(--col-yellow);
    background-color: var(--col-red);
    @media (max-width: 1440px){
      font-size: 25px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 15px;
      padding: 22px 0;
    }
  }
  &__btn{
    display: block;
    @include grid-size(74%);
    background: #E4D2BB;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    padding: 31px 0;
    @media (max-width: 1440px){
      font-size: 25px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 15px;
      padding: 22px 0;
    }
  }
}