@import "../tools/mixins";
@import "../tools/breakpoints";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group{
  position: relative;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-xl){
    margin-bottom: 20px;
  }
}

.form-label{
  display: block;
}

.form-input{
  max-width: 525px;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  background: var(--col-yellow);
  border: 1px solid #D4CCB3;
  box-sizing: border-box;
  border-radius: 3px;
  &:focus, &:active{
    border: 1px solid var(--col-brown);
  }
  @media (max-width: 1380px){
    height: 60px;
    line-height: 60px;
    font-size: 15px;
  }
  @media (max-width: $breakpoint-sm){
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
}

.form-select{
  max-width: 525px;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--col-yellow);
  border: 1px solid #D4CCB3;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-appearance: none;
  background-image: url(../img/dropdown.png);
  background-position: right center;
  background-repeat: no-repeat;
  &:focus, &:active{
    border: 1px solid var(--col-brown);
  }
  @media (max-width: 1380px){
    height: 60px;
    line-height: 60px;
    font-size: 15px;
  }
  @media (max-width: $breakpoint-sm){
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
}

.form-textarea{
  max-width: 525px;
  width: 100%;
  height: 190px;
  padding: 25px 30px;
  line-height: 25px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  background: var(--col-yellow);
  border: 1px solid #D4CCB3;
  box-sizing: border-box;
  border-radius: 3px;
  resize: none;
  &:focus, &:active{
    border: 1px solid var(--col-brown);
  }
  @media (max-width: 1380px){
    font-size: 15px;
  }
  @media (max-width: $breakpoint-md){
    height: 175px;
  }
  @media (max-width: $breakpoint-sm){
    height: 150px;
  }
}

.form-file{
  display: block;
  max-width: 525px;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  background: var(--col-yellow);
  border: 1px solid #D4CCB3;
  border-radius: 3px;
  &:focus, &:active{
    border: 1px solid var(--col-brown);
  }
  @media (max-width: 1380px){
    height: 60px;
    line-height: 60px;
    font-size: 15px;
  }
  @media (max-width: 1380px){
    font-size: 15px;
  }
  @media (max-width: $breakpoint-sm){
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
}


::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  @media (max-width: 1380px){
    font-size: 15px;
  }
}
::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  @media (max-width: 1380px){
    font-size: 15px;
  }
}
:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  @media (max-width: 1380px){
    font-size: 15px;
  }
}
:-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--col-brown);
  font-family: 'Montserrat', sans-serif;
  @media (max-width: 1380px){
    font-size: 15px;
  }
}