@import "../tools/mixins";
@import "../tools/breakpoints";


.modal{
  display: none;
  position: fixed;
  top: 0;
  right: -17px;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &__body{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 30px 17px 30px 0;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:after, &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 1px;
      width: 0;
    }
  }
  &__content{
    display: table;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: var(--col-light-yellow);
  }
  &__close{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    padding: 10px;
    color: var(--reddish);
    cursor: pointer;
    transition: all 0.3s;
    backface-visibility: hidden;
    &:hover{
      transform: rotate(180deg);
    }
  }
}

.animate-in {
  animation: modalIn .35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

.animate-away {
  animation: modalAway .35s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

.booking-modal{
  text-align: center;
  max-width: 600px;
  padding: 80px;
  @media (max-width: $breakpoint-lg){
    padding: 60px;
  }
  @media (max-width: $breakpoint-sm){
    padding: 45px 30px;
    .modal__close{
      right: 15px;
      top: 15px;
      font-size: 16px;
    }
  }
  &__title{
    display: block;
    margin-bottom: 30px;
  }
  &__txt{
    max-width: 325px;
    margin: auto auto 30px;
  }
}

.hall-modal{
  max-width: 1860px;
  padding: 70px;
  @media (max-width: 1919px){
    margin: auto 30px;
  }
  @media (max-width: $breakpoint-xl){
    padding: 60px;
  }
  @media (max-width: $breakpoint-lg){
    padding: 45px;
  }
  @media (max-width: $breakpoint-md){
    padding: 45px 30px;
  }
  @media (max-width: $breakpoint-sm){
    padding: 30px 15px;
    margin: auto 0;
  }
  .modal__close{
    font-size: 30px;
    right: 70px;
    top: 70px;
    @media (max-width: $breakpoint-sm){
      right: 15px;
      top: 15px;
      font-size: 16px;
    }
  }
  &__name{
    margin: 0 0 50px;
    @media (max-width: $breakpoint-sm){
      margin: 0 0 30px;
    }
  }
  &__image{
    display: block;
    max-width: 100%;
    margin: 0 0 50px;
    @media (max-width: $breakpoint-sm){
      margin: 0 0 30px;
    }
  }
  &__content{
    max-width: 1065px;
    text-align: center;
    margin: auto auto 50px;
    @media (max-width: $breakpoint-sm){
      margin: auto auto 30px;
    }
  }
}

.event-modal{
  max-width: 1230px;
  padding: 70px;
  @media (max-width: $breakpoint-xl){
    padding: 60px;
  }
  @media (max-width: $breakpoint-lg){
    padding: 45px;
  }
  @media (max-width: $breakpoint-md){
    padding: 45px 30px;
  }
  @media (max-width: $breakpoint-sm){
    padding: 30px 15px;
  }
  .modal__close{
    font-size: 30px;
    right: 40px;
    top: 40px;
    @media (max-width: $breakpoint-sm){
      right: 15px;
      top: 15px;
      font-size: 16px;
    }
  }
  &__title{
    margin: 0 0 50px;
    @media (max-width: $breakpoint-sm){
      margin: 0 0 30px;
    }
  }
  &__carousel{
    margin-bottom: 50px;
    @media (max-width: $breakpoint-sm){
      margin: 0 0 30px;
    }
  }
  &__cell{
    height: 470px;
    width: 100%;
    @media (max-width: $breakpoint-lg){
      height: 350px;
    }
    @media (max-width: $breakpoint-sm){
      height: 275px;
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      @include absolute;
      @include object-fit;
    }
  }
  &__content{
    text-align: center;
    max-width: 990px;
    margin: auto auto 50px;
    @media (max-width: $breakpoint-sm){
      margin: 0 0 30px;
    }
  }
}

