@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

strong, .bold{ font-weight: 700; }
.black{ font-weight: 900; }

.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }

.brown{ color: var(--col-brown)}
.yellow{ color: var(--col-yellow)}
.white{ color: var(--col-white)}

.--medium{font-weight: 500;}
.--semi-bold{font-weight: 600;}

.heading{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.heading-1{
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  @media (max-width: $breakpoint-xl){
    font-size: 50px;
    line-height: 60px;
  }
  @media (max-width: $breakpoint-lg){
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 35px;
    line-height: 45px;
  }
}

.heading-2{
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  @media (max-width: $breakpoint-xl){
    font-size: 35px;
    line-height: 45px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 30px;
    line-height: 45px;
  }
}

.heading-3{
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  @media (max-width: $breakpoint-xl){
    font-size: 25px;
    line-height: 35px;
  }
}

.heading-4{
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  @media (max-width: $breakpoint-sm){
    font-size: 20px;
    line-height: 25px;
  }
}

.heading-5{
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  @media (max-width: $breakpoint-lg){
    font-size: 16px;
    line-height: 32px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 30px;
  }
}

.heading-6{
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 30px;
  }
}

.app-txt{
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 30px;
  }
}

.app-txt-normal{
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.app-txt-smaller{
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.app-txt-bigger{
  display: block;
  font-size: 20px;
  line-height: 25px;
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 20px;
  }
}


.text-content{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: var(--col-brown);
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 20px;
  }
  h1{
    @extend .heading-1;
    margin-bottom: 30px;
  }
  h2{
    @extend .heading-2;
    margin-bottom: 30px;
  }
  h3{
    @extend .heading-3;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 10px;
  }
  ul{
    padding: 0 0 0 20px;
    margin-bottom: 15px;
    list-style-type: none;
    text-align: left;
    li{
      position: relative;
      padding-left: 20px;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--col-brown);
      }
    }
  }
  ol{
    padding: 0 0 0 20px;
    margin-bottom: 15px;
    list-style-type: decimal;
  }
  i{
    font-style: italic;
  }
  a{
    color: var(--col-red);
    text-decoration: underline;
    transition: all 0.3s;
  }
  strong, b{
    font-weight: 700;
  }
  img{
    max-width: 100%;
    display: block;
    vertical-align: middle;
    margin: 50px 0;
    @media (max-width: $breakpoint-sm){
      margin: 30px 0;
    }
  }
  table{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid var(--col-grey);
    th,td{
      padding: 5px;
      border: 1px solid var(--col-grey);
    }
  }
  blockquote{
    position: relative;
    max-width: 915px;
    margin: 50px auto;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    padding-top: 50px;
    &:before{
      content: '\e977';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      font-family: 'icomoon', sans-serif;
      font-size: 40px;
      color: var(--col-brown);
    }
    @media (max-width: $breakpoint-sm){
      margin: 30px auto;
      font-size: 20px;
      line-height: 30px;
    }
  }
}