@import "../tools/mixins";
@import "../tools/breakpoints";


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

strong, .bold{ font-weight: 700; }
.black{ font-weight: 900; }

.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }

.brown{ color: var(--col-brown)}
.yellow{ color: var(--col-yellow)}
.white{ color: var(--col-white)}

.--medium{font-weight: 500;}
.--semi-bold{font-weight: 600;}

.heading{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.heading-1{
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  @media (max-width: $breakpoint-sm){
    font-size: 35px;
    line-height: 45px;
  }
}

.heading-2{
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  @media (max-width: $breakpoint-xl){
    font-size: 35px;
    line-height: 45px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 30px;
    line-height: 45px;
  }
}

.heading-3{
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  @media (max-width: $breakpoint-xl){
    font-size: 25px;
    line-height: 35px;
  }
}

.heading-4{
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  @media (max-width: $breakpoint-sm){
    font-size: 20px;
    line-height: 25px;
  }
}

.heading-5{
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  @media (max-width: $breakpoint-lg){
    font-size: 16px;
    line-height: 32px;
  }
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 30px;
  }
}

.heading-6{
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  @media (max-width: $breakpoint-sm){
    font-size: 15px;
    line-height: 30px;
  }
}

.app-txt-normal{
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.app-txt-smaller{
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.app-txt-bigger{
  display: block;
  font-size: 20px;
  line-height: 25px;
}


.text-content{
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: var(--col-black);
  @media (max-width: $breakpoint-sm){
    font-size: 18px;
    line-height: 22px;
  }
  h1{
    display: block;
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--col-black);
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm){
      font-size: 30px;
      line-height: 36px;
    }
  }
  h2{
    display: block;
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--col-black);
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm){
      font-size: 20px;
      line-height: 28px;
    }
  }
  h3{
    display: block;
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--col-black);
    margin-bottom: 15px;
    @media (max-width: $breakpoint-sm){
      font-size: 16px;
      line-height: 24px;
    }
  }
  p{
    margin-bottom: 10px;
  }
  ul{
    padding: 0 0 0 20px;
    margin-bottom: 15px;
    list-style-type: disc;
  }
  ol{
    padding: 0 0 0 20px;
    margin-bottom: 15px;
    list-style-type: decimal;
  }
  i{
    font-style: italic;
  }
  a{
    color: var(--col-red);
    text-decoration: underline;
    transition: all 0.3s;
  }
  strong, b{
    font-weight: 700;
  }
  img{
    max-width: 100%;
    display: block;
    vertical-align: middle;
  }
  table{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid var(--col-grey);
    th,td{
      padding: 5px;
      border: 1px solid var(--col-grey);
    }
  }
}