@import "../tools/mixins";
@import "../tools/breakpoints";

.delivery-content{
  &__image{
    display: block;
    height: 510px;
    width: 100%;
    @include object-fit;
    margin-top: 50px;
    @media (max-width: $breakpoint-lg){
      height: 450px;
    }
    @media (max-width: $breakpoint-md){
      height: 400px;
    }
    @media (max-width: $breakpoint-sm){
      height: 350px;
      margin-top: 30px;
    }
  }
}