
.home{
  min-height: calc(100vh - 98px);
  overflow: hidden;
  background-color: #222;
}

.home-info-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &__soc{
    &-item{
      display: inline-block;
      & + &{
        margin-left: 10px;
      }
    }
    &-link{
      display: block;
      font-size: 15px;
      color: var(--col-white);
      transition: all 0.3s;
      &:hover{
        color: var(--col-brown);
      }
    }
  }
}