@import "../tools/mixins";
@import "../tools/breakpoints";

.home{
  min-height: calc(100vh - 98px);
  overflow: hidden;
}

.home-carousel{
  &__cell{
    width: 100%;
    min-height: calc(100vh - 98px);
  }
}

.home-item{
  position: absolute;
  height: calc(100vh - 98px);
  background: rgba(0, 0, 0, 0.3);
  &__image{
    @include absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  &__content{
    text-align: center;
  }
  &__logo{
    display: block;
    width: 710px;
    height: 275px;
    margin: auto auto 60px;
    @media (max-height: 850px){
      display: block;
      width: 525px;
      height: 205px;
      margin: auto auto 20px;
    }
  }
  &__desc{
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: var(--col-white);
    min-height: 105px;
    max-width: 465px;
    margin: auto auto 60px;
    @media (max-height: 850px){
      margin: auto auto 30px;
    }
  }
  &__btn{}
}

.home-info-bar{
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  &__soc{
    &-item{
      display: inline-block;
      & + &{
        margin-left: 25px;
      }
    }
    &-link{
      display: block;
      font-size: 25px;
      color: var(--col-white);
      transition: all 0.3s;
      &:hover{
        color: var(--col-brown);
      }
    }
  }
  &__phone{
    text-align: center;
  }
  &__address{
    text-align: right;
  }
}