@import "../tools/mixins";
@import "../tools/breakpoints";

.news-wrapper{
  margin-bottom: 50px;
}

.news-item{
  position: relative;
  height: 510px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
  backface-visibility: hidden;
  @media (max-width: $breakpoint-xl){
    height: 385px;
  }
  @media (max-width: $breakpoint-lg){
    height: 325px;
  }
  @media (max-width: $breakpoint-sm){
    height: 290px;
  }
  &:hover{
    .news-item__image{
      transform: scale(1.06);
    }
    .news-item__txt{
      transform: translateY(-100%);
    }
    .news-item__btn{
      transform: translateY(0);
    }
    @media (max-width: $breakpoint-xl){
      .news-item__txt{
        transform: translateY(0);
      }
      .news-item__btn{
        transform: translateY(0);
      }
    }
  }
  &__overlay{
    @include absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 44.55%), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 25.58%, rgba(0, 0, 0, 0) 67.88%);
  }
  &__image{
    @include absolute;
    @include object-fit;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
  }
  &__title{
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    z-index: 3;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    @media (max-width: 1440px){
      font-size: 35px;
      line-height: 45px;
    }
    @media (max-width: $breakpoint-xl){
      font-size: 25px;
      line-height: 35px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: $breakpoint-sm){
      font-size: 18px;
      line-height: 25px;
      left: 15px;
      right: 15px;
    }
  }
  &__txt{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 3;
    transition: all 0.3s;
    height: 105px;
    transition-delay: 0.1s;
    @include text-ellipsis(3);
    @media (max-width: $breakpoint-xl){
      @include text-ellipsis(2);
      height: 70px;
      bottom: 100px;
    }
    @media (max-width: $breakpoint-sm){
      height: 60px;
      left: 15px;
      right: 15px;
    }
  }
  &__btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 3;
    margin: auto;
    transform: translateY(200%);
    transition: all 0.3s;
    @media (max-width: $breakpoint-xl){
      transform: translateY(0);
      max-width: 275px;
      font-size: 18px;
    }
    @media (max-width: $breakpoint-md){
      left: 5px;
      right: 5px;
    }
  }
}

.post-top{
  position: relative;
  height: 700px;
  margin-bottom: 80px;
  @media (max-width: $breakpoint-xl){
    height: 450px;
  }
  @media (max-width: $breakpoint-sm){
    height: 375px;
  }
  @media (max-width: $breakpoint-sm){
    margin-bottom: 50px;
  }
  img{
    @include absolute;
    @include object-fit;
    height: 100%;
    width: 100%;
  }
}

.post-content{
  max-width: 1230px;
  margin: auto;
  padding: 0 15px 100px 15px;
  border-bottom: 1px solid var(--col-brown);
  @media (max-width: $breakpoint-sm){
    padding: 0 15px 50px 15px;
  }
  &__title{
    position: relative;
    margin-bottom: 40px;
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      width: 140px;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      background: var(--col-brown);
    }
  }
  &__date{
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

.post-slider{
  margin: 50px 0;
  @media (max-width: $breakpoint-sm){
    margin: 30px 0;
  }
  &__cell{
    position: relative;
    width: 100%;
    height: 600px;
    @media (max-width: $breakpoint-xl){
      height: 400px;
    }
    @media (max-width: $breakpoint-sm){
      height: 300px;
    }
    img{
      @include absolute;
      @include object-fit;
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
}

.post-suggest{
  padding: 100px 0 70px 0;
  @media (max-width: $breakpoint-sm){
    padding: 50px 0;
  }
  &__title{
    margin-bottom: 30px;
  }
}

.suggest-item{
  position: relative;
  margin-bottom: 30px;
  &:hover{
    .suggest-item__img{
      transform: scale(1.06);
    }
  }
  &__img-wrap{
    height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: 1440px){
      height: 400px;
    }
    @media (max-width: $breakpoint-xl){
      height: 275px;
    }
    @media (max-width: $breakpoint-lg){
      height: 275px;
    }
    @media (max-width: $breakpoint-sm){
      height: 225px;
      margin-bottom: 15px;
    }
  }
  &__img{
    display: block;
    width: 100%;
    height: 500px;
    @include object-fit;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1440px){
      height: 400px;
    }
    @media (max-width: $breakpoint-xl){
      height: 275px;
    }
    @media (max-width: $breakpoint-lg){
      height: 275px;
    }
    @media (max-width: $breakpoint-sm){
      height: 225px;
    }
  }
}