@import "../tools/mixins";
@import "../tools/breakpoints";

.product-sidebar{
  position: sticky;
  top: 100px;
  @media (max-width: $breakpoint-lg){
    position: relative;
    top: initial;
    margin-bottom: 30px;
  }
}

.product-sidebar-list{
  position: relative;
  color: var(--col-brown);
  &__item{
    position: relative;
    &:before{
      content: '';
      @include absolute;
      left: -60px;
      top: 0;
      background-color: transparent;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }
    &.active{
      color: var(--col-yellow);
      &:before{
        background-color: var(--col-brown);
      }
      .product-sidebar-list-sublist{
        display: block;
      }
      > .product-sidebar-list__link{
        font-weight: bold;
      }
      .product-sidebar-list__arrow{
        transform: scale(-1);
      }
    }
  }
  &__link{
    display: block;
    font-weight: 500;
    font-size: 18px;
    padding: 22px 5px 22px 0;
    line-height: 35px;
    transition: all 0.3s;
    @media (max-width: $breakpoint-lg){
      padding: 15px 5px 15px 0;
      font-size: 15px;
      line-height: 25px;
    }
    @media (max-width: $breakpoint-sm){
      padding: 10px 5px 10px 0;
      font-size: 14px;
      line-height: 25px;
    }
  }
  &__arrow{
    display: inline-block;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
  }
}

.product-sidebar-list-sublist{
  position: relative;
  display: none;
  padding-left: 20px;
  @media (max-width: $breakpoint-lg){
    padding-left: 10px;
  }
}

.product-content{
  margin-bottom: 70px;
  @media (max-width: $breakpoint-sm){
    margin-bottom: 50px;
  }
}

.product-item{
  position: relative;
  overflow: hidden;
  background: var(--col-light-yellow);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    .product-item__img{
      transform: translateY(-60px);
    }
    .product-item__content{
      transform: translateY(-60px);
    }
    .product-item-buy{
      transform: translateY(0);
    }
    @media (max-width: $breakpoint-xl){
      .product-item__img{
        transform: translateY(0);
      }
      .product-item__content{
        transform: translateY(0);
      }
    }
  }
  &__img{
    display: block;
    @include object-fit;
    width: 100%;
    height: 340px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1680px){
      height: 245px;
    }
    @media (max-width: $breakpoint-lg){
      height: 195px;
    }
  }
  &__content{
    padding: 20px 30px 30px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1680px){
      padding: 20px;
    }
    @media (max-width: $breakpoint-lg){
      padding: 15px;
    }
  }
  &__top{
    margin-bottom: 15px;
    @media (max-width: $breakpoint-lg){
      margin-bottom: 5px;
    }
  }
  &__weight{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    @media (max-width: $breakpoint-lg){
      font-size: 13px;
    }
  }
  &__price{
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    @media (max-width: 1680px){
      font-size: 20px;
      line-height: 25px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 15px;
    }
  }
  &__name{
    display: block;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
    @media (max-width: 1680px){
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 10px;
    }
  }
  &__txt{
    @include text-ellipsis(3);
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    height: 75px;
    @media (max-width: $breakpoint-lg){
      font-size: 13px;
      line-height: 20px;
      height: 60px;
    }
  }
}

.product-item-buy{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(60px);
  background-color: var(--col-red);
  transition: all 0.3s ease-in-out;
  padding: 0 30px;
  @media (max-width: 1680px){
    padding: 0 8px;
  }
  @media (max-width: $breakpoint-xl){
    position: relative;
    transform: translateY(0);
  }
  &__row{
    height: 60px;
    @media (max-width: $breakpoint-lg){
      height: 45px;
    }
  }
  &__button{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    cursor: pointer;
    color: var(--col-yellow);
    @media (max-width: 1680px){
      font-size: 15px;
      line-height: 30px;
    }
    @media (max-width: $breakpoint-lg){
      font-size: 12px;
    }
  }
  &__price{
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    text-align: right;
    color: var(--col-yellow);
    @media (max-width: 1680px){
      font-size: 15px;
      line-height: 30px;
    }
  }
}

.product-item-spinner{
  position: relative;
  width: 85px;
  height: 30px;
  &.--modifier{
    .product-item-spinner__btn{
      color: var(--col-brown);
    }
  }
  @media (max-width: 1680px){
    width: 65px;
  }
  @media (max-width: $breakpoint-lg){
    height: 25px;
  }
  &__input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    width: 35px;
    height: 30px;
    outline: none;
    border: 0;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #604516;
    padding: 0 5px;
    pointer-events: none;
    background: var(--col-yellow);
    @media (max-width: 1680px){
      left: 15px;
    }
    @media (max-width: $breakpoint-lg){
      height: 25px;
      font-size: 15px;
    }
  }
  &__btn{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 30px;
    text-align: center;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding: 0;
    color: var(--col-yellow);
    transition: all 0.3s;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    @media (max-width: $breakpoint-lg){
      height: 25px;
    }
    &.--minus{
      left: 0;
    }
    &.--plus{
      right: 0;
    }
  }
}