@import "../tools/mixins";
@import "../tools/breakpoints";


.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 98px;
  z-index: 99;
  background-color: var(--col-grey);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-hamburger{
  display: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 28px;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
  @media (max-width: $breakpoint-lg) {
    display: inline-block;
  }
}

.js-show{ display: block;}