@import "../tools/mixins";
@import "../tools/breakpoints";

//landscape-message
.landscape-message{
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-light-yellow);
  display: none;
  @media only screen and (max-width: 960px) and (min-aspect-ratio: 13/9){
    display: block;
  }
  &__inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    svg{
      width: 45px;
      height: 45px;
      fill: var(--col-brown);
    }
    p{
      font-weight: 400;
      font-size: 16px;
      color: var(--col-brown);
    }
  }
}

//wrapper
.page-wrapper{
  margin-top: 98px;
  min-height: calc(100vh - 98px);
  @media (max-width: $breakpoint-xl){
    margin-top: 75px;
    min-height: calc(100vh - 75px);
  }
  &.--modifier{
    margin-top: 178px;
    @media (max-width: $breakpoint-sm){
      margin-top: 148px;
    }
  }
  &__title{
    margin-bottom: 80px;
    @media (max-width: $breakpoint-sm){
      margin-bottom: 50px;
    }
  }
}

.book-table-btn{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 130px;
  height: 130px;
  padding: 47px 0;
  border-radius: 50%;
  z-index: 9;
  overflow: initial;
  text-align: center;
  color: var(--col-white);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background-color: var(--col-red);
  &:before {
    content: '';
    position: absolute;
    display: block;
    z-index: -2;
    width: 150%;
    height: 150%;
    top: 50%;
    left: 50%;
    margin-left: -75%;
    margin-top: -75%;
    border-radius: 50%;
    background-color: var(--col-red);
    animation: pulse-ring 2.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 180%;
    height: 180%;
    top: 50%;
    left: 50%;
    margin-left: -90%;
    margin-top: -90%;
    border-radius: 50%;
    background-color: var(--col-red);
    animation: pulse-ring 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  @media (max-width: $breakpoint-sm){
    right: 15px;
    bottom: 15px;
    width: 110px;
    height: 110px;
    padding: 25px 0;
    font-size: 12px;
    line-height: 18px;
  }
}
