
@import "tools/variables";

@import "base/reset";
@import "base/grid";
@import "base/base";
@import "base/fonts";
@import "base/typography";

@import "modules/form";
@import "modules/buttons";
@import "modules/icons";
@import "modules/modal";
@import "modules/keyframes";

@import "layout/header";
@import "layout/footer";
@import "layout/layout";

@import "pages/home";
@import "pages/restaurant";
@import "pages/hall";
@import "pages/banquet";
@import "pages/contacts";

@import "plugins/flickity";

