
@import "tools/variables";

@import "base/reset";
@import "base/grid";
@import "base/base";
@import "base/fonts";
@import "base/typography";

@import "modules/form";
@import "modules/buttons";
@import "modules/icons";
@import "modules/cart";
@import "modules/pagination";
@import "modules/modal";
@import "modules/keyframes";

@import "layout/header";
@import "layout/footer";
@import "layout/layout";

@import "pages/home";
@import "pages/restaurant";
@import "pages/hall";
@import "pages/banquet";
@import "pages/contacts";
@import "pages/delivery";
@import "pages/our-team";
@import "pages/news";
@import "pages/events";
@import "pages/gallery";
@import "pages/vacancy";
@import "pages/product";
@import "pages/order";

@import "plugins/flickity";
@import "plugins/lightgallery";

